.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  background-color: $color-slate-blue;
  color: $color-default-white;
  border: 0;
  border-radius: 4px;

  &--primary {
    background-color: $color-default-white;
    color: $color-slate-blue;
  }
}
