.feature {
  display: flex;
  flex-direction: column;
  min-height: 142px;
  align-items: center;
  gap: 4px;
}

.feature__picture-wrapper {
  width: 52px;
  height: 56px;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
