.features {
  padding: 50px 0 44px 0;

  @include vp-tab {
    padding: 60px 0 59px 0;
  }

  @include vp-desk {
    padding: 100px 0 103px;
  }
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.features__title:not(:last-child) {
  margin-bottom: 16px;

  @include vp-tab {
    margin-bottom: 40px;
  }

  @include vp-desk {
    margin-bottom: 62px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 32px;

  @include vp-tab {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 3px 28px;
  }

  @include vp-desk {
    grid-template-columns: repeat(4, 318px);
    gap: 20px 28px;
  }
}
