.footer {
  flex-shrink: 0;
  min-height: 40px;
}

.footer__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: $color-magnolia;
    left: -20px;
    bottom: -1px;
  }
}

.footer__logo {
  width: 82px;
  height: 36px;
}
