.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-tab {
    gap: 40px;
  }
}

.form__fildsets-wrapper {
  display: grid;
  gap: 30px;

  @include vp-tab {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 30px;
  }

  @include vp-desk {
    grid-template-columns: 1fr;
    gap: 30px 30px;

    &:not(:last-child) {
      margin-top: 5px;
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__label {
  word-break: break-word;
}

.form__legend:not(:last-child) {
  margin-bottom: 20px;
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 34px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: $color-default-white;
  border: solid 2px $color-silver;
  border-radius: 50%;
  cursor: pointer;
}

.form__field[type="radio"]:hover:not(:disabled) ~ .form__control-mark {
  border-color: $color-medium-purple;
}

.form__field[type="radio"]:hover:not(:disabled) + .form__control-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 16px;
  background: $color-slate-blue-op;
  border-radius: 50%;
}

.form__field[type="radio"]:focus:not(:disabled) ~ .form__control-mark {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 2px;
}

.form__field[type="radio"]:focus:not(:disabled) ~ .form__control-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 16px;
  background: $color-slate-blue-op;
  border-radius: 50%;
}

.form__field[type="radio"]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 16px;
  background: $color-slate-blue;
  border-radius: 50%;
}

.form__field[type="radio"]:checked + .form__control-mark {
  border-color: $color-slate-blue;
}

.form__field[type="radio"]:disabled + .form__control-mark {
  border-color: $color-gainsboro;
}

.form__field[type="radio"]:disabled + .form__control-mark::after {
  background-color: $color-gainsboro;
}

.form__field[type="radio"]:disabled ~ .form__label {
  color: $color-gainsboro;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-tab {
    margin: 0 auto;
    flex-direction: row;
  }

  @include vp-desk {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
