.hero {
  position: relative;
  padding: 20px 0 49px 0;
}

.hero__slider-wrapper {
  width: 280px;
  height: 587px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.hero__slider-prev-button,
.hero__slider-next-button {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color-slate-blue;

  &:disabled {
    color: $color-silver;
  }
}

.hero__slider-prev-button {
  left: 0;

  &:hover:not(:disabled) {
    background: $white-to-transparent;
  }

  &:focus:not(:disabled) {
    background: $white-to-transparent;
  }

  &:active:not(:disabled) {
    background: $transparent-to-slate-blue;
  }
}

.hero__slider-next-button {
  right: 0;

  &:hover:not(:disabled) {
    background: $transparent-to-white;
  }

  &:focus:not(:disabled) {
    background: $transparent-to-white;
  }

  &:active:not(:disabled) {
    background: $slate-blue-to-transparent;
  }
}
