.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    left: -20px;
    background-color: $color-magnolia;
    bottom: -1px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: $color-magnolia;
    left: -100vw;
    bottom: -1px;
  }

  &--padd-top {
    padding-top: 0;
  }

  &--grid {
    display: grid;
  }

  &--padd-bott {
    padding-bottom: 14px;
  }
}
