.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include vp-desk {
    padding: 8px 0;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    left: -20px;
    background-color: $color-magnolia;
    bottom: -1px;

    @include vp-tab {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: $color-magnolia;
    left: -100vw;
    bottom: -1px;

    @include vp-tab {
      display: none;
    }
  }

  &--padd-top {
    padding-top: 0;

    @include vp-desk {
      display: grid;
      align-items: start;
      gap: 17px;
    }
  }

  &--grid {
    display: grid;

    @include vp-tab {
      padding-top: 10px;
    }
  }

  &--padd-bott {
    padding-bottom: 14px;
  }
}
