.nav {
  max-width: 80%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav .user-list {
  max-width: 70%;
}

.nav__toggle {
  display: flex;
  margin: 0;
  padding: 12px;
  background-color: $color-default-white;
  border: none;

  @include vp-tab {
    display: none;
  }
}

.nav__toggle-in {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.nav--closed .nav__toggle-decor {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: $color-default-black;

  &:nth-child(1) {
    top: 2px;
    left: 0;
  }

  &:nth-child(2) {
    top: 7px;
    left: 0;
  }

  &:nth-child(3) {
    bottom: 2px;
    left: 0;
  }
}

.nav--opened .nav__toggle-decor {
  &::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    height: 16px;
    width: 1px;
    background-color: $color-default-black;
  }

  &::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    height: 16px;
    width: 1px;
    background-color: $color-default-black;
  }
}

.nav__list {
  @include list-reset;
}

.nav--closed .site-list {
  display: none;

  @include vp-tab {
    display: flex;
  }
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
