.order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  word-break: break-word;

  &--just-content {
    justify-content: space-between;
  }
}

.order__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.order__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $color-slate-blue;
}

.order__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.order__button {
  text-decoration: none;
  color: $color-default-white;
}
