.price-range {
  padding-top: 10px;

  @include vp-tab {
    width: 222px;
  }

  @include vp-desk {
    width: 318px;
    padding-top: 9px;
  }
}

.price-range__value {
  width: 118px;
  height: 40px;
  padding: 8px 10px;
  font-family: $ff-mont;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: $color-default-black;
  border: 2px solid $color-medium-purple;
  border-radius: 4px;
  appearance: textfield;

  @include vp-tab {
    width: 88px;
  }

  @include vp-desk {
    width: 134px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: $color-silver;
  }

  &:hover {
    border-color: $color-slate-blue;
  }

  &:not(:placeholder-shown):focus {
    border-color: $color-royal-purple;
    outline-offset: 2px;
  }

  &:disabled {
    border-color: $color-gainsboro;
    color: $color-silver;
    background-color: $color-white-smoke;
  }
}

.price-range__deco {
  height: 2px;
  width: 8px;
  background-color: $color-silver;
}

.price-range__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  @include vp-tab {
    width: 223px;
  }

  @include vp-desk {
    width: 318px;
  }
}

.price-range__slider {
  padding: 0 6px 0 12px;

  &:not(:last-child) {
    margin-bottom: 34px;

    @include vp-tab {
      margin-bottom: 30px;
    }

    @include vp-desk {
      margin-bottom: 32px;
    }
  }
}
