.slide {
  width: 280px;
  height: 587px;

  @include vp-tab {
    width: 728px;
    height: 768px;
  }

  @include vp-desk {
    width: 1360px;
    height: 654px;
  }
}

.slide--bgc-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: $color-bridal-heath;
  pointer-events: none;

  @include vp-tab {
    background: $bridal-heath-to-white;
  }

  @include vp-desk {
    background: $color-bridal-heath;
  }
}

.slide--bgc-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: $color-lavender;
  pointer-events: none;

  @include vp-tab {
    background: $lavender-to-white;
  }

  @include vp-desk {
    background: $color-lavender;
  }
}

.slide--bgc-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: $color-solitude;
  pointer-events: none;

  @include vp-tab {
    background: $solitude-to-white;
  }

  @include vp-desk {
    background: $color-solitude;
  }
}

.slide__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  height: 100%;

  @include vp-tab {
    position: relative;
    justify-content: start;
  }

  @include vp-desk {
    display: grid;
    grid-template-columns: 665px 1fr;
    gap: 31px;
  }
}

.slide__text-wrapper {
  display: grid;
  gap: 5px;

  @include vp-desk {
    gap: 0;
  }
}

.slide__title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.72px;
  text-align: center;

  @include vp-tab {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.slide__title.title {
  @include vp-desk {
    text-align: start;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.slide__badge.badge {
  @include vp-desk {
    text-align: start;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.slide__description {
  padding: 5px 0;

  @include vp-tab {
    max-width: 600px;
    padding: 9px 0 6px;
    font-size: 20px;
    line-height: 32px;
  }
}

.slide__description.text {
  @include vp-desk {
    text-align: start;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.slide__description br {
  display: none;

  @include vp-tab {
    display: inline;
  }
}

.slide__picture {
  width: 280px;
  height: 280px;

  @include vp-tab {
    width: 476px;
    height: 476px;
  }

  @include vp-desk {
    width: 600px;
    height: 600px;
  }
}

.slide__picture-wrapper {
  width: 280px;
  height: 280px;

  margin-bottom: 5px;

  @include vp-tab {
    width: 476px;
    height: 476px;
    position: absolute;
    pointer-events: none;
    bottom: -5px;
    z-index: -1;
  }

  @include vp-desk {
    position: static;
    width: 665px;
    height: 600px;
    margin: 6px 0 0;
    padding-left: 65px;
  }
}

.slide__order {
  padding: 10px;

  @include vp-desk {
    justify-self: start;
  }

  @include vp-desk {
    padding: 0;
  }
}
