.slider__inner {
  width: 280px;
  height: 587px;
  overflow: hidden;

  @include vp-tab {
    width: 728px;
    height: 768px;
    overflow: visible;
  }

  @include vp-desk {
    width: 1360px;
    height: 654px;
    overflow: hidden;
  }
}

.slider__prev-button,
.slider__next-button {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color-slate-blue;
  cursor: pointer;

  @include vp-tab {
    justify-content: center;
    width: 80px;
    top: 320px;
    height: 640px;
  }

  @include vp-desk {
    top: 50%;
  }

  &:disabled {
    color: $color-silver;
  }
}

.slider__prev-button {
  left: 0;

  &:hover:not(:disabled) {
    background: $white-to-transparent;
  }

  &:focus:not(:disabled) {
    background: $white-to-transparent;
  }

  &:active:not(:disabled) {
    background: $transparent-to-slate-blue;
  }
}

.slider__next-button {
  right: 0;

  &:hover:not(:disabled) {
    background: $transparent-to-white;
  }

  &:focus:not(:disabled) {
    background: $transparent-to-white;
  }

  &:active:not(:disabled) {
    background: $slate-blue-to-transparent;
  }
}

.slider__buttons-wrapper {
  display: none;

  @include vp-desk {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }
}

.slider__button {
  @include vp-desk {
    display: flex;
    width: 62px;
    height: 24px;
    padding: 10px 0;
    background-color: $color-transparent;
    border: 0;
    cursor: pointer;
  }
}

.slider__button-decor {
  display: flex;
  width: 62px;
  height: 4px;
  background-color: $color-default-white;
}

.slider__button:hover .slider__button-decor {
  background-color: $color-slate-blue-op;
}

.slider__button:focus .slider__button-decor {
  background-color: $color-slate-blue-op;
}

.slider__button:active .slider__button-decor {
  background-color: $color-slate-blue;
}

.slider__button--active .slider__button-decor {
  background-color: $color-slate-blue;
}

.slider__button:disabled .slider__button-decor {
  background-color: $color-silver;
}
