.toggle-switch {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.toggle-switch__inner {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: $color-silver;
  transition: 0.4s;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $color-default-white;
    transition: 0.4s;
  }
}

.toggle-switch__field:checked + .toggle-switch__inner > .toggle-switch__slider {
  background-color: $color-slate-blue;
}

.toggle-switch__field:focus + .toggle-switch__inner > .toggle-switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-switch__field:checked + .toggle-switch__inner > .toggle-switch__slider::before {
  transform: translateX(18px);
}
