.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.user-list__link {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 12px;
  width: 40px;
  height: 40px;

  @include vp-tab {
    &:hover {
      color: $color-slate-blue;
    }
  }

  @include vp-tab {
    &:focus {
      color: $color-slate-blue;
    }
  }

  &:active {
    color: $color-slate-blue;
    background-color: $color-magnolia;
  }
}
